* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  user-select: none;
}
body {
  background: #09090a;
  color: #e5e5e5;
}
footer {
  background: red;
}
.logo {
  height: 128px;
  width: 128px;
  margin: 2rem;
  position: fixed;
  z-index: 2;

  img {
    height: 100%;
    width: 100%;
  }
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #553bf1 !important;
}

.firstpage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.fifthpage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  div {
    font-size: 64px;
    color: #553bf1;
  }
}

.firstpage {
  .greetings {
    font-size: 36px;
    letter-spacing: 6px;

    div:nth-child(2) {
      font-size: 48px;
      margin-top: 1rem;
      margin-left: 6rem;
    }
    .anime-text {
      position: absolute;
      width: 100%;
      font-weight: bold;
      font-family: "Raleway", sans-serif;
      color: #553bf1;
    }
    div:nth-child(3) {
      margin-top: 58px;
    }
  }
  .image {
    height: 300px;
    width: 300px;
    pointer-events: none;
  }

  .profile {
    padding: 0.5rem;
    background: transparent;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 10px solid #553bf1;
    box-shadow: 0 0 20px 0 #553bf1, inset 0 0 20px 0 #553bf1;
  }
}
.arrow-down {
  z-index: 100;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 0;
  transform: rotate(0);
}
.arrow-up {
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 0;
  transform: rotate(180deg);
}
.arrow-left {
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transform: rotate(270deg);
}
.color {
  color: #553bf1;
}

.secondpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .about {
    margin-top: 2rem;
    text-align: center;
    font-size: 24px;
    line-height: 3rem;
    letter-spacing: 3px;
    width: 80%;
  }
  .color {
    font-size: 30px;
    font-weight: bold;
  }
}
.thirdpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .skillset {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10rem;
  }
}
.fourthpage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .keepintouch {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
  }
}
.title {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 6px;
  color: #553bf1;
}
.skill {
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background: transparent;
    border-radius: 50%;
    margin: 1rem 0;
  }
  img {
    height: 100%;
    width: 100%;
  }
  .progressbar {
    border-radius: 5px;
    position: relative;
    height: 10px;
    width: 300px;
    background: #e5e5e5;
  }
  span {
    position: absolute;
    height: 100%;
    background: #553bf1;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: left;
    animation: a 1s 1s forwards;
  }
  .percentage {
    text-align: center;
    color: #553bf1;
    margin: 10px;
    font-size: 24px;
  }
  @keyframes a {
    100% {
      transform: scaleX(1);
    }
  }
}

//  Responsive

@media screen and (max-width: 920px) {
  .logo {
    height: 100px;
    width: 100px;
    margin: 0rem;
  }
  .arrow-down {
    display: none;
  }
  .firstpage {
    .greetings {
      margin: 0.5rem;
      font-size: 24px;
      letter-spacing: 3px;
      div:nth-child(2) {
        font-size: 30px;
        margin-top: 1rem;
        margin-left: 5rem;
      }
      .anime-text {
        position: absolute;
        width: 100%;
        // left: 1rem;
        font-weight: bold;
        font-family: "Raleway", sans-serif;
        color: #553bf1;
      }
      div:nth-child(3) {
        font-size: 20px;
        margin-top: 40px;
      }
    }
  }
  .secondpage {
    .about {
      text-align: start;
      font-size: 1rem;
    }
  }
  .title {
    margin: 1rem;
    text-align: center;
  }
  .firstpage {
    flex-direction: column;
    justify-content: center;
    .image {
      pointer-events: fill;
      position: absolute;
      bottom: 1rem;
      width: 100px;
      height: 100px;
      .profile {
        padding: 0.3rem;
        border: 5px solid #553bf1;
      }
    }
  }
  .secondpage {
    .about {
      width: 80%;
      margin: 10rem 0 0 2rem;
      font-size: 0.8rem;
    }
    .color {
      font-size: 20px;
    }
  }
  .thirdpage {
    .title {
      text-align: center;
    }
    .skillset {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 2rem;
    }
  }
  .skill {
    margin: 0;
    .icon {
      height: 80px;
      width: 80px;
    }
    .progressbar {
      width: 150px;
      height: 5px;
    }
    .percentage {
      font-size: 1rem;
    }
  }
  .fourthpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      text-align: center;
    }
    .keepintouch {
      grid-template-columns: auto auto;
    }
  }
  .fifthpage {
    flex-direction: column;
    img {
      height: 80px;
      width: 80px;
    }
    div {
      margin-top: 1rem;
      font-size: 2rem;
    }
  }
  .arrow-up {
    display: none;
  }
}
