* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

:root {
  --background: #e5e5e5;
  --primary: #09090a;
  --secondary: #553bf1;
}

[data-theme="dark"] {
  --background: #09090a;
  --primary: #553bf1;
  --secondary: #e5e5e5;
}

body {
  background: var(--background);
  color: var(--secondary);
}

.logo {
  height: 128px;
  width: 128px;
  margin: 2rem;
  position: fixed;
  z-index: 2;
}

.logo img {
  height: 100%;
  width: 100%;
}

.time {
  font-size: 3rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: var(--primary);
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: var(--primary) !important;
}

.firstpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.fifthpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.fifthpage div {
  font-size: 64px;
  color: var(--primary);
}

.firstpage .greetings {
  font-size: 36px;
  letter-spacing: 6px;
}

.firstpage .greetings div:nth-child(2) {
  font-size: 48px;
  margin-top: 1rem;
  margin-left: 6rem;
}

.firstpage .greetings .anime-text {
  position: absolute;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: var(--primary);
}

.firstpage .greetings div:nth-child(3) {
  margin-top: 58px;
}

.firstpage .image {
  height: 300px;
  width: 300px;
  background: transparent;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 30px 0 #553bf1, inset 0 0 30px 0 #553bf1;
          box-shadow: 0 0 30px 0 #553bf1, inset 0 0 30px 0 #553bf1;
}

.firstpage .profile {
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.work-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.work-section .works {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (700px)[2];
      grid-template-columns: repeat(2, 700px);
}

.work-section .works .projects {
  position: relative;
}

.work-section .works .projects img {
  width: 100%;
  height: 100%;
}

.work-section .works .projects .project-section {
  position: absolute;
  background: #2f2f33ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.work-section .works .projects .project-section .project-logo {
  height: 100px;
  width: 200px;
}

.work-section .works .projects .project-section .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-section .works .projects .project-section .project-title {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 1.5rem;
  color: var(--secondary);
}

.work-section .works .projects .project-section .project-link {
  text-decoration: none;
  font-size: 1.5rem;
  background: var(--primary);
  color: var(--secondary);
  padding: 10px 30px;
  border-radius: 2rem;
}

.arrow-down {
  z-index: 100;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  bottom: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.arrow-up {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  bottom: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow-left {
  right: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.color {
  color: var(--primary);
}

.section .title {
  width: 500px;
  position: absolute;
  left: 40%;
  top: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.secondpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.secondpage .about {
  text-align: center;
  font-size: 24px;
  line-height: 3rem;
  letter-spacing: 3px;
  width: 80%;
}

.secondpage .color {
  font-size: 30px;
  font-weight: bold;
}

.thirdpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.thirdpage .skillset {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 10rem;
  margin-top: 3rem;
}

.fourthpage {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fourthpage .keepintouch {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 1rem;
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 6px;
  position: relative;
  color: var(--primary);
}

.skill .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 100px;
  background: transparent;
  border-radius: 50%;
  margin: 1rem 0;
}

.skill img {
  height: 100%;
  width: 100%;
}

.skill .progressbar {
  border-radius: 5px;
  position: relative;
  height: 10px;
  width: 300px;
  background: var(--secondary);
}

.skill span {
  position: absolute;
  height: 100%;
  background: var(--primary);
  border-radius: 5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: a 1s 1s forwards;
          animation: a 1s 1s forwards;
}

.skill .percentage {
  text-align: center;
  color: var(--primary);
  margin: 10px;
  font-size: 24px;
}

@-webkit-keyframes a {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes a {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@media screen and (max-width: 920px) {
  .time {
    font-size: 1.5rem;
    right: 0.5rem;
  }
  .logo {
    height: 100px;
    width: 100px;
    margin: 0rem;
  }
  .arrow-down {
    display: none;
  }
  .firstpage .greetings {
    margin: 0.5rem;
    font-size: 24px;
    letter-spacing: 3px;
  }
  .firstpage .greetings div:nth-child(2) {
    font-size: 30px;
    margin-top: 1rem;
    margin-left: 5rem;
  }
  .firstpage .greetings .anime-text {
    width: 70vw;
  }
  .firstpage .greetings div:nth-child(3) {
    font-size: 20px;
    margin-top: 40px;
  }
  .secondpage .about {
    text-align: start;
    font-size: 1rem;
  }
  .title {
    margin: 1rem;
    text-align: center;
  }
  .firstpage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .firstpage .image {
    pointer-events: fill;
    position: absolute;
    bottom: 1rem;
    width: 100px;
    height: 100px;
  }
  .firstpage .image .profile {
    padding: 0.3rem;
    border: 5px solid #553bf1;
  }
  .secondpage .about {
    line-height: 2rem;
    width: 80%;
    font-size: 0.8rem;
  }
  .secondpage .color {
    font-size: 20px;
  }
  .thirdpage .title {
    text-align: center;
  }
  .thirdpage .skillset {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 2rem;
  }
  .skill {
    margin: 0;
  }
  .skill .icon {
    height: 80px;
    width: 80px;
  }
  .skill .progressbar {
    width: 150px;
    height: 5px;
  }
  .skill .percentage {
    font-size: 1rem;
  }
  .fourthpage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fourthpage .title {
    text-align: center;
  }
  .fourthpage .keepintouch {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .fifthpage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fifthpage img {
    height: 80px;
    width: 80px;
  }
  .fifthpage div {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .arrow-up {
    display: none;
  }
  .section .title {
    width: 100%;
    position: absolute;
    left: 40%;
    top: 10%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .work-section .works {
    margin: 1rem;
    -ms-grid-columns: (300px)[1];
        grid-template-columns: repeat(1, 300px);
  }
  .work-section .works .projects .project-section {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .work-section .works .projects .project-section .project-logo {
    height: 2rem;
    width: 3rem;
  }
  .work-section .works .projects .project-section .project-title {
    font-size: 1rem;
  }
  .work-section .works .projects .project-section .project-link {
    font-size: 0.8rem;
  }
}

.loader {
  z-index: 10000000000000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--background);
}

.slider {
  z-index: 10000000000000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background: var(--background);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hide {
  overflow: hidden;
}

.text,
.slider-text {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 3rem;
  letter-spacing: 0.5rem;
  line-height: 5rem;
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */